
@{
    ViewBag.Title = "William McCarty | Links";
}

<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0 textShadow">
                William
                <span class="text-primary">McCarty</span>
            </h1>
            <div class="subheading mb-5">
                1210 Faulkner Drive · Pleasant Hill, MO 64080 · (816) 288-0274 ·
                <a href="mailto:WilliamMcCarty1@outlook.com">WilliamMcCarty1@outlook.com</a>
            </div>
            <p class="lead mb-5">I am a graduate of the full-stack web development program at Centriq. I have been working within the Information Technology field for over 30 years. In July 2021 I decided to go back to school to update my skills with the new technology being used in the computer programming field.  I have done desktop application development, website development and SQL Server development.  I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value of the business.</p>
            <div class="social-icons">
                <a class="social-icon" style="box-shadow: 7px 5px 5px #999" href="https://www.linkedin.com/in/william-j-mccarty/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" style="box-shadow: 7px 5px 5px #999" href="https://github.com/williammccarty" target="_blank"><i class="fab fa-github"></i></a>
                <!--<a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>-->
                <a class="social-icon" style="box-shadow: 7px 5px 5px #999" href="https://www.facebook.com/bill.mccarty.522" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5 textShadow">Associate Full-Stack Web Developers</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        <img class="img-responsive thumb" src="~/Content/images/classmates/amandaallen.jpg" alt="Amanda Allen" title="Amanda Allen" />
                    </h3>
                    <div class="subheading mb-3 classMemberName textShadow">Amanda Allen</div>
                    <p class="classMemberBio textShadow">I believe that everyone has a story worth sharing and I have the tools to help!  I am a Full Stack Web Developer and I am passionate about people! I love being on a team and am inspired by the work and stories of others. Before my switch to development I managed a team of 6 people making the best coffee on the planet! As I made the transition out it just made sense for me to jump into coding. IT and web development has been something I've always been interested in. I finally got the opportunity when I left the work force to have my first child. Since then I've fallen in love with the coding world and I am always on the lookout to grow my skills! When I'm not coding I enjoy being outside, book club with my friends, and adventuring with my family!</p>
                    <p><a href="http://amandaallen.net//" target="_blank" class="classMemberLinks textShadow">&#128204; Visit My Personal Site</a></p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        <img class="img-responsive thumb" src="~/Content/images/classmates/coreyanderson.jpg" alt="Corey Anderson" title="Corey Anderson" />
                    </h3>
                    <div class="subheading mb-3 classMemberName textShadow">Corey Anderson</div>
                    <p class="classMemberBio textShadow">
                        I am a graduate of Centriq Training, where I spent my time as a Front-End Web Developer.  Previously, as a graduate of Slater High School in Slater, Missouri, I had spent four years studying at State Fair Community College in Sedalia, Missouri, where I received my Associate's of Applied Science for CIS (Computer Information Sciences) Programming. In attending Centriq, I hoped to receive a career in programming, so that I could become something greater - giving to this digital world while also advancing my own lifestyle.
                    </p>
                    <p><a href="http://coreymanderson.com/" target="_blank" class="classMemberLinks textShadow">&#128204; Visit My Personal Site</a></p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        <img class="img-responsive thumb" src="~/Content/images/classmates/ashleysmith.jpg" alt="Ashley Smith" title="Ashley Smith" />
                    </h3>
                    <div class="subheading mb-3 classMemberName textShadow">Ashley Smith</div>
                    <p class="classMemberBio textShadow">I am a graduate of Centriq Training, focusing on full-stack web development.  HTML5, CSS3, JavaScript, jQuery, SQL, MVC, OOP, Agile/Scrum, GitHub is just some of the things I have learned for full-stack development.  I have projects listed on my site that I have completed for review.  I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                    <p><a href="http://d2107asmith-001-site1.mysitepanel.net/" target="_blank" class="classMemberLinks textShadow">&#128204; Visit My Personal Site</a></p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        <img class="img-responsive thumb" src="~/Content/images/classmates/michaelrussell.jpg" alt="Michael Russell" title="Michael Russell" />
                    </h3>
                    <div class="subheading mb-3 classMemberName textShadow">Michael Russell</div>
                    <p class="classMemberBio textShadow">Driven financial professional with a programming background.</p>
                    <p><a href="http://michaelrussell.net/" target="_blank" class="classMemberLinks textShadow">&#128204; Visit My Personal Site</a></p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        <img class="img-responsive thumb" src="~/Content/images/classmates/jacobroelofsz.jpg" alt="Jacob Roelofsz" title="Jacob Roelofsz" />
                    </h3>
                    <div class="subheading mb-3 classMemberName textShadow">Jacob Roelofsz</div>
                    <p class="classMemberBio textShadow">Every day I am driven to learn more. I want to consume knowledge. I love learning more and more about the online world and the languages that make it run.  I have always been consistent with work. Everyday of my profressional career I have strived to be on time and ready to go. I pride myself on my speediness of getting work done.  I am constantly thinking of new ways to streamline things, whethers its hundreds or thousands of lines of code or just how to get to work quicker, finding the best possible option is always something I am thinking about.  One of my many skills is critical feedback. I pride myself on the feedback I give others and I hope others do the same for me. Feedback is one of my favorite learning oppurtunities.</p>
                    <p><a href="http://jacobroelofsz.com/" target="_blank" class="classMemberLinks textShadow">&#128204; Visit My Personal Site</a></p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        <img class="img-responsive thumb" src="~/Content/images/classmates/calebmitchell.jpg" alt="Caleb Mitchell" title="Caleb Mitchell" />
                    </h3>
                    <div class="subheading mb-3 classMemberName textShadow">Caleb Mitchell</div>
                    <p class="classMemberBio textShadow">I am a full-stack web developer who loves to learn new ideas and techniques in web development.</p>
                    <p><a href="http://c-mitchell.com/" target="_blank" class="classMemberLinks textShadow">&#128204; Visit My Personal Site</a></p>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>
<!-- Lightbox Container -->
<div id="lightbox-container">
    <p>
        <span class="lightBoxClick">Click Anywhere To Close</span>
    </p>
    <!-- Lightbox Content -->
    <!-- Container for our images -->
    <div id="lightbox-content">
        <!-- <img> tag will be inserted here when a thumbnail is clicked -->
    </div>
</div>
