
@{
    ViewBag.Title = "William McCarty | Portfolio";
}

<div class="container-fluid p-0">
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5 textShadow">Portfolio Projects</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div><a href="http://bytebrothers.william-mccarty.com/" target="_blank"><img src="~/Content/images/projects/ByteBrothersPic.jpg" class="projectImage" alt="Byte Brothers Coding School" title="Byte Brothers Coding School" /></a></div>
                        <h3 class="mb-0 textShadow">&nbsp;&nbsp;&nbsp;Byte Brothers Coding School</h3>
                        <div class="subheading mb-3 textShadow">&nbsp;&nbsp;&nbsp;We Teach You How To Take A Byte Out Of Programming.</div>
                        <div><a href="http://bytebrothers.william-mccarty.com/" target="_blank" class="classMemberLinks textShadow">&nbsp;&nbsp;&nbsp;&#128204; Visit Byte Brothers Coding School Website</a></div>
                        <div class="projectName textShadow">&nbsp;&nbsp;&nbsp;Studio Project</div>
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;HTML5&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;CSS3&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/WilliamMcCarty/FED1StudioProject" target="_blank" class="noUnderLine"><span class="projectPillLabel">&nbsp;&nbsp;GitHub&nbsp;&nbsp;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div><a href="https://github.com/WilliamMcCarty/DungeonApp" target="_blank"><img src="~/Content/images/projects/dungeonapplication.jpg" class="projectImage" alt="Dungeon Application" title="Dungeon Application" /></a></div>
                        <h3 class="mb-0 textShadow">&nbsp;&nbsp;&nbsp;Text Based Console Application</h3>
                        <div class="subheading mb-3 textShadow">&nbsp;&nbsp;&nbsp;Text based console game based on text interacton.</div>
                        <div><a href="https://github.com/WilliamMcCarty/DungeonApp" target="_blank" class="classMemberLinks textShadow">&nbsp;&nbsp;&nbsp;&#128204; Visit GitHub to view the code</a></div>
                        <div class="projectName textShadow">&nbsp;&nbsp;&nbsp;Dungeon Application</div>
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;C#&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;.NET Framework&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;ASCII Art&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/WilliamMcCarty/DungeonApp" target="_blank" class="noUnderLine"><span class="projectPillLabel">&nbsp;&nbsp;GitHub&nbsp;&nbsp;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="d-flex flex-column flex-md-row justify-content-between  mb-5">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div><a href="https://www.mmgiftscollectibles.com/" target="_blank"><img src="~/Content/images/projects/mmgifts.jpg" class="projectImage" alt="M&M Gifts & Collectibles" title="M&M Gifts & Collectibles" /></a></div>
                        <h3 class="mb-0 textShadow">&nbsp;&nbsp;&nbsp;M&M Gifts & Collectibles</h3>
                        <div class="subheading mb-3 textShadow">&nbsp;&nbsp;&nbsp;Live E-Commerce Store.</div>
                        <div><a href="https://www.mmgiftscollectibles.com/" target="_blank" class="classMemberLinks textShadow">&nbsp;&nbsp;&nbsp;&#128204; Visit M&M Gifts & Collectibles</a></div>
                        <div class="projectName textShadow">&nbsp;&nbsp;&nbsp;Live E-Commerce Store Front</div>
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;HTML5&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;CSS3&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;C#&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;.NET Framework&nbsp;&nbsp;</span>
                            </li>
                        </ul>
                        <br />
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;JavaScript&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;jQueryUI&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;SQL&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;MSSQL&nbsp;&nbsp;</span>
                            </li>
                        </ul>
                        <br />
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;BootStrap&nbsp;&nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div><a href="http://heidi.william-mccarty.com/" target="_blank"><img src="~/Content/images/projects/heidisite.jpg" class="projectImage" alt="Heidi Site" title="Heidi Site" /></a></div>
                        <h3 class="mb-0 textShadow">&nbsp;&nbsp;&nbsp;Heidi (Hydroster) & Friends</h3>
                        <div class="subheading mb-3 textShadow">&nbsp;&nbsp;&nbsp;Pet Website For Heidi & Friends.</div>
                        <div><a href="http://heidi.william-mccarty.com/" target="_blank" class="classMemberLinks textShadow">&nbsp;&nbsp;&nbsp;&#128204; Visit Heidi Website</a></div>
                        <div class="projectName textShadow">&nbsp;&nbsp;&nbsp;Pet Website</div>
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;HTML5&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="projectPillLabel">&nbsp;&nbsp;CSS3&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/WilliamMcCarty/Heidi" target="_blank" class="noUnderLine"><span class="projectPillLabel">&nbsp;&nbsp;GitHub&nbsp;&nbsp;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 textShadow">Name Of Project 5</h3>
                        <div class="subheading mb-3 textShadow">Brief Description</div>
                        <div>Add some kind of photo with link to it</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 textShadow">Name Of Project 6</h3>
                        <div class="subheading mb-3 textShadow">Brief Description</div>
                        <div>Add some kind of photo with link to it</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>